.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://wallpapers.com/images/hd/4k-tech-ulcajgzzc25jlrgi.jpg")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 40%;
  padding: 20px;
  background-color: white;
}

form {
  display: flex;
  flex-wrap: wrap;
}

form > input {
  flex: 1;
  min-width: 40%;
  margin: 20px 10px 0px 0px;
  padding: 10px;
}

span {
  font-size: 12px;
  margin: 20px 0px;
}

button {
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
}


